h1 {
    text-align: center;
}
.orderInfo{
    text-align: right;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

#fill-btn{
    float: right;
}
#control-btn{
    float: left;
}
.right{
    float: right;
}
.hover:hover{
    background-color: beige;
}
.read{
    color: red;
}
.filled{
    color: green;
}