<div class="panel panel-heading"><h1>Welcome to the Control Panel</h1></div>
<h3><a ui-sref="home">Home</a></h3>
<div class="panel panel-body"><h3>I am probably going to put controls here...</h3></div>
<div class="panel panel-body"><h3>and I am probably going to put controls here...</h3></div>
<div class="panel panel-body"><h3>and I am probably going to put controls here as well...</h3></div>
<div class="panel panel-body"><h3>and I am probably going to put controls here as well...</h3></div>
<div class="panel panel-body"><h3>and I am probably going to put controls here as well...</h3></div>
<div class="panel panel-body"><h3>and I am probably going to put controls here as well...</h3></div>
<div class="panel panel-body"><h3>and I am probably going to put controls here as well...</h3></div>
