<div class="panel panel-heading" style="text-align:center">
    <button class=" left hover" ui-sref='fullfilled'>Archives</button>
    <button class="hover right" ui-sref="home">Home</button>
    <h1>Control Panel</h1>
</div>
<div class="panel panel-body">
    <!--<h3>I am probably going to put controls here...</h3>-->

    <!--Zing Charts-->
    <!--Test of different method-->
    <!--<div id='myChart4'>Profits by Month</div>-->
    <!--Charts-->
    <div class="block" zingchart id="myChart" zc-json="myJson" zc-height=800px zc-width=100%>
        <h2 class="center">Annual Profits vs. Expense Chart<h2></div>
<!--<div class="block" zingchart id="myChart2" zc-json="myJson2" zc-height=100% zc-width=100%><h2 class="center">Sales Data by Location<h2></div>
<div class="block" zingchart id="myChart3" zc-json="myJson3" zc-height=100% zc-width=100%><h2 class="center">Profits vs. Expenses<h2></div>-->

<!--End Zing Charts-->
</div>