<!--<ul>
    <li ng-repeat="archive in archives"> {{archive.details}}</li>
</ul>-->

<!--<ul class="list-group">
    <li class="well list-item" ng-repeat="archive in archives | filter: searchText">
        <div class="panel panel-heading">
            <h3><span class=""> <b>#{{archive.details.saveNum}} </b> </span> - Date: {{archive.details.date | date:'MM/dd/yyyy' }}, - Time: {{archive.details.date | date:'HH:mm:ss'}}, - Email: {{archive.details.email}} <button ng-click="delete(archive)" class="right  btn-danger"> X - Delete</button><button  ng-click="details = !details; read = true" class="right hover">Details</button>
            <button ng-click="filled = !filled" class="right hover">Order Complete </button><button ng-click="unfilled = !unfilled" class="right hover"> Flag </button></h3>
        </div>
        <i ng-show="unfilled" class="fa fa-exclamation fa-lg read"> Flag </i>
        <i ng-hide="filled" class="fa fa-star fa-lg filled"> Order Complete </i>
      
        <div ng-show="details">
            <div class="orderInfo">
                <div> Customer Name: {{archive.details.user}}</div>
                <div> Name: {{archive.details.name}}</div>
                <div> Date: {{archive.details.date | date:'MM/dd/yyyy'}}</div>
                <div>Time: {{archive.details.date | date:'HH:mm:ss'}}</div>
                <div>Shirt Color: {{archive.details.shirtColor}}</div>
                <div>Image Name: {{archive.details.imageName}}</div>
                <div>Price: {{archive.details.price | currency}}</div>
                <div>saveNum: {{archive.details.saveNum}}</div>
                <div>shirtUrl: {{archive.details.shirtUrl}}</div>
            </div>
            <div class="shirt-div" style="text-align:center;">
                <img class="block" ng-src="{{archive.details.shirtUrl}}" alt="shirt preview here" height="300" />
                <div class="image-div" style="top: {{archive.logo.position.top}}px; left: {{archive.logo.position.left}}px; height: {{archive.logo.size.height}}px; width: {{archive.logo.size.width}}px;">
                    <img class="image" ng-src="{{archive.details.imageUrl}}">
                  
                </div>
            </div>
        </div>
        <!--<div>Quantity: {{archive.quantity}}</div>-->
<!--<div>Total: {{archive.total}}</div>-->
<!--</li>
</ul>-->

<!--Copy of home page-->
<ul class="list-group">
    <li class="list-group-item" ng-repeat="order in orders | orderBy: 'orderDate' : true | filter: searchText">
        <h1> 
            Order ID : {{order.$id}}                   
              <i ng-show="flag" class="fa fa-exclamation fa-lg read"> Flag</i>
               <div class="btn-group pull-right">
                   <!--<button ng-click="details = !details" class="btn btn-info btn-raised">Details</button>-->
                   <button ng-click="hidden = !hidden" class="btn btn-success btn-raised">More</button>
                   <button ng-click="flag = !flag" class="btn btn-warning btn-raised">Flag</button>
                   <button ng-click="remove(order)" class="btn btn-danger btn-raised">Delete</button> 
              </div>
           </h1>
        <h4>
            Order Date: {{order.orderDate | date: 'MM/dd/yyyy h:mm:ss a'}} {{order.email}}<br/>
            Number of Designs in this Order: {{order.items.length}}     
        </h4>
        <!--shows incoming order info -->
        <!--Incoming Order : {{order}}-->

        <!--shows incoming item info-->
        <!--<ul>
                <li ng-repeat="item in order.items">item.details: {{item.details}} item.details.name: {{item.details.name}} item.details.shirtUrl{{item.details.shirtUrl}}</li>
            </ul>-->
        <!--end item info-->


        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in order.items" ng-show="hidden">
                <div class="media">
                    <div class="media-left">
                        <div class="media-object">
                            <div class="shirt-div" style="display:inline-block">
                                <img class="block" ng-src="{{item.details.shirtUrl}}" alt="shirt preview here" height="300" />
                                <div class="image-div" style="top: {{item.logo.position.top}}px; left: {{item.logo.position.left}}px; height: {{item.logo.size.height}}px; width: {{item.logo.size.width}}px;">
                                    <img class="image" ng-src="{{item.details.imageUrl}}">
                                    <!--{{order.logo.position}}
                        <br> {{order.logo.size}}-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="media-content">
                            <div>
                                <table class="table table-striped table-hover">
                                    <tbody>
                                        <!--<tr>
                                                <td>Order Id: </td>
                                                <td>{{item.$id}}</td>
                                            </tr>-->
                                        <tr>
                                            <td>Customer Name: </td>
                                            <td>{{item.details.user}}</td>
                                        </tr>
                                        <tr>
                                            <td>Design Name: </td>
                                            <td>{{item.details.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Order Date: </td>
                                            <td>{{item.details.date | date:'MM/dd/yyyy'}}</td>
                                        </tr>

                                        <tr>
                                            <td>Shirt Color: </td>
                                            <td>{{item.details.shirtColor}}</td>
                                        </tr>
                                        <tr>
                                            <td>Image Name: </td>
                                            <td>{{item.details.imageName}}</td>
                                        </tr>
                                        <tr>
                                            <td>Shirt URL: </td>
                                            <td>{{item.details.shirtUrl}}</td>
                                        </tr>
                                        <tr>
                                            <td>Individual Price: </td>
                                            <td>{{item.details.price | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td>Quantity: </td>
                                            <td>{{item.quantity}}</td>
                                        </tr>
                                        <tr>
                                            <td>Order Sub-Total: </td>
                                            <td>{{item.total | currency}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr/>
            </li>
        </ul>
        <h2 style="text-align: right"><span>Grand Total: {{order.grandTotal | currency}}</span></h2>
        <h6 style="background-color: grey" class="text-align: center"><i>end of order</i></h6>
    </li>
</ul>