<!--Styles from bootstrap material-->
<!--<a class="btn btn-default waves-effect waves-light">Default</a>
<a class="btn btn-primary waves-effect waves-light">Primary</a>-->

<!--My Stuffs-->
<!--<div style="text-align:center" class="panel panel-heading">
    <button class="hover" id="control-btn" ui-sref='control-panel'>Control Panel</button>
    <button class="hover" id="fill-btn" ui-sref='fullfilled'>Archives</button>
    <h1 style="text-align:center"><b>Custom Shop Strange</b></h1>
</div>-->
<!--<div class="panel panel-body">
    <span>New Orders : <i class="badge">{{orders.length}}</i></span>
    <!--<label class="right">Search
        <input type="text" ng-model="searchText" />
    </label>-->
<!--</div>-->

<div class="panel panel-body container">
    <!--<div ng-repeat="order in orders">test:{{order.test}}//hope:{{order.hope}} order name: {{order.name}} user:{{order.user}} shirtcolor:{{order.shirtColor}}
        image:{{order.image}}
    </div>-->

    <h3>New Orders : <i class="badge" style="padding:8px"><b>{{orders.length}}</b></i></h3>
    <hr>
    <!--Shell for Orders-->
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="order in orders | orderBy: 'orderDate': true |filter: searchText">
            <div class="row">
                <div class="col-lg-12">
                    <h1> 
            Order ID : {{order.$id}} 
               <div class="btn-group pull-right">
                   <button ng-click="details = !details; read = true" class="btn btn-info btn-raised">Details</button>
                   <button ng-click="filled = !filled" class="btn btn-success btn-raised">Filled</button>
                   <button ng-click="read = !read" class="btn btn-warning btn-raised">Read</button>
                   <button ng-click="shelf(order)" class="btn btn-danger btn-raised">Archive</button> 
              </div>
           </h1>
                    <h2>Order Date: {{order.orderDate | date: 'MM/dd/yyyy h:mm:ss a'}} {{order.email}}<br/>
            Number of Designs in this Order: {{order.items.length}}
                <span style="float:right">
                    <i ng-hide="read" class="fa fa-exclamation fa-lg read"> unread</i>
                    <i ng-show="filled" class="fa fa-star fa-lg filled"> order filled</i>
                </span>
            </h2>
                </div>
            </div>
            <!--shows incoming order info -->
            <!--Incoming Order : {{order}}-->

            <!--shows incoming item info-->
            <!--<ul>
                <li ng-repeat="item in order.items">item.details: {{item.details}} item.details.name: {{item.details.name}} item.details.shirtUrl{{item.details.shirtUrl}}</li>
            </ul>-->
            <!--end item info-->


            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in order.items" ng-hide="archive">
                    <div class="media row">
                        <div class="col-sm-12 col-md-6">
                            <div class="media-left">
                                <div class="media-object">
                                    <div class="shirt-div" style="display:inline-block">
                                        <img class="block" ng-src="{{item.details.shirtUrl}}" alt="shirt preview here" height="300" />
                                        <div class="image-div" style="top: {{item.logo.position.top}}px; left: {{item.logo.position.left}}px; height: {{item.logo.size.height}}px; width: {{item.logo.size.width}}px;">
                                            <img class="image" ng-src="{{item.details.imageUrl}}">
                                            <!--{{order.logo.position}}
                        <br> {{order.logo.size}}-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-body col-sm-12 col-md-6">
                            <div class="media-content">
                                <div ng-show="details">
                                    <table class="table table-striped table-hover">
                                        <tbody>
                                            <tr>
                                                <td>Customer Name: </td>
                                                <td>{{item.details.user}}</td>
                                            </tr>
                                            <tr>
                                                <td>Design Name: </td>
                                                <td>{{item.details.name}}</td>
                                            </tr>
                                            <tr>
                                                <td>Order Date: </td>
                                                <td>{{item.details.date | date:'MM/dd/yyyy'}}</td>
                                            </tr>
                                            <tr>
                                                <td>Shirt Color: </td>
                                                <td>{{item.details.shirtColor}}</td>
                                            </tr>
                                            <tr>
                                                <td>Shirt URL: </td>
                                                <td>{{item.details.shirtUrl}}</td>
                                            </tr>
                                            <tr>
                                                <td>Individual Price: </td>
                                                <td>{{item.details.price | currency}}</td>
                                            </tr>
                                            <tr>
                                                <td>Quantity: </td>
                                                <td>{{item.quantity}}</td>
                                            </tr>
                                            <tr>
                                                <td>Order Sub-Total: </td>
                                                <td>{{item.total | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </li>
            </ul>
            <h2 style="text-align: right"><span>Grand Total: {{order.grandTotal | currency}}</span></h2>
            <h6 style="background-color: grey" class="text-align: center"><i>end of order</i></h6>
        </li>
    </ul>

    <!--Working for individual shirts// original display-->
    <!--<ul class="list-group">
        <li class="list-group-item" ng-repeat="order in orders  | filter: searchText" ng-hide="archive">
            <div class="media">
                <div class="media-left">
                    <div class="media-object">
                        <div class="shirt-div" style="display:inline-block">
                            <img class="block" ng-src="{{order.details.shirtUrl}}" alt="shirt preview here" height="300" />
                            <div class="image-div" style="top: {{order.logo.position.top}}px; left: {{order.logo.position.left}}px; height: {{order.logo.size.height}}px; width: {{order.logo.size.width}}px;">
                                <img class="image" ng-src="{{order.details.imageUrl}}">
                                {{order.logo.position}}
                        <br> {{order.logo.size}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    <div class="media-heading">
                        <h3>
                        <div class="btn-group pull-right">
                            <button ng-click="details = !details; read = true" class="btn btn-info btn-raised">Details</button>
                            <button ng-click="filled = !filled" class="btn btn-success btn-raised">Mark as Filled</button>
                            <!--<button ng-click="read = !read" class="right">Mark as Read</button>
                            <button ng-click=" shelf(order)" class="btn btn-danger btn-raised">Archive</button> 
                        </div>
                        <span class=""> 
                            <b>Order Id: {{order.$id}} </b>
                             - Order Date: {{order.details.date | date:'MM/dd/yyyy'}},
                             - Time: {{order.details.date | date:'HH:mm:ss'}}, 
                             Email: {{order.details.email}} 
                        </span>
                        </span>
                        </h3>
                    </div>
                    <div class="media-content">
                        <div ng-show="details">
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <td>Order Id: </td>
                                        <td>{{order.$id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Customer Name: </td>
                                        <td>{{order.details.user}}</td>
                                    </tr>
                                    <tr>
                                        <td>Order Name: </td>
                                        <td>{{order.details.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Order Date: </td>
                                        <td>{{order.details.date | date:'MM/dd/yyyy'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Time: </td>
                                        <td>{{order.details.date | date:'HH:mm:ss'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email: </td>
                                        <td>{{order.details.email}}</td>
                                    </tr>
                                    <tr>
                                        <td>Shirt Color: </td>
                                        <td>{{order.details.shirtColor}}</td>
                                    </tr>
                                    <tr>
                                        <td>Image Name: </td>
                                        <td>{{order.details.imageName}}</td>
                                    </tr>
                                    <tr>
                                        <td>Individual Price: </td>
                                        <td>{{order.details.price | currency}}</td>
                                    </tr>                                    
                                    <tr>
                                        <td>Shirt URL: </td>
                                        <td>{{order.details.shirtUrl}}</td>
                                    </tr>
                                    <tr>
                                        <td>Order Total: </td>
                                        <td>{{order.details.total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <i ng-hide="read" class="fa fa-exclamation fa-lg read"> unread</i>
                            <i ng-show="filled" class="fa fa-star fa-lg filled"> order filled</i>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
        </li>-->
    <!-- </ul>-->

</div>